:root {
  --color-primario: #483d8b;
  --color-secundario: #fff;
  --color-terciario: #212529;
}
.amigo {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  border-radius: 10px;
  padding: 15px;
}
.btn-primary {
  background-color: var(--color-primario);
  border-color: var(--color-primario);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: var(--color-primario);
  border-color: var(--color-primario);
}

main article {
  margin-top: 45px;
}
article ul li {
  margin-bottom: 10px;
}
.botonera .boton {
  margin-block: 5px;
}
